@import url("https://fonts.googleapis.com/css2?family=Nunit+Sans:wght@300;600;800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  overflow: hidden;
}

.navbar {
  background-color: white;
}

.navbar .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 4rem;
}

.navbar .container .title h1 {
  font-weight: 600;
  color: #111517;
}

.navbar .container .themeSwitcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.navbar .container .themeSwitcher p {
  margin-left: 0.5rem;
  font-weight: 300;
  color: #111517;
}

.navbar.dark {
  background-color: #2b3945;
}

.navbar.dark .container .title h1 {
  color: white;
}

.navbar.dark .container .themeSwitcher i::before {
  color: white;
}

.navbar.dark .container .themeSwitcher p {
  color: white;
}

.homePage {
  background-color: #fafafa;
}

.homePage .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homePage .container .search-Filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  margin: 3rem 0;
}

.homePage .container .search-Filter .search {
  background: white;
  border-radius: 5px;
  width: 35%;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.homePage .container .search-Filter .search i {
  padding-left: 1.5rem;
  color: #858585;
}

.homePage .container .search-Filter .search .searchInput {
  border: none;
  padding: 1rem;
  width: 80%;
}

.homePage .container .search-Filter .filter {
  background: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding-right: 1.5rem;
  position: relative;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.homePage .container .search-Filter .filter .filterByCountries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homePage .container .search-Filter .filter .filterByCountries .filterRegion {
  padding: 1rem 2.5rem 1rem 1.5rem;
  color: #111517;
}

.homePage .container .search-Filter .filter .filterRegionItems {
  display: none;
}

.homePage .container .search-Filter .filter .filterRegionItems.show {
  display: block;
  list-style: none;
  position: absolute;
  top: 115%;
  right: 0;
  width: 100%;
  background: white;
  border-radius: 5px;
  padding: 0.5rem 0;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.homePage .container .search-Filter .filter .filterRegionItems.show li {
  cursor: pointer;
  color: #111517;
  padding: 0.5rem 1.5rem;
}

.homePage .container .search-Filter .filter .filterRegionItems.show li a {
  text-decoration: none;
  color: #111517;
}

.homePage .container .search-Filter .filter .filterRegionItems.show:last-child {
  margin-bottom: 0.7rem;
}

.homePage .container .countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.homePage .container .countries .country {
  background: white;
  width: 22%;
  margin-bottom: 5rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.homePage .container .countries .country .countryImage img {
  border-radius: 5px;
  width: 100%;
}

.homePage .container .countries .country .countryInfos {
  margin: 1.2rem 1.2rem 2rem 1.2rem;
}

.homePage .container .countries .country .countryInfos h4 {
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.homePage .container .countries .country .countryInfos h5 {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.homePage .container .countries .country .countryInfos h5 span {
  font-weight: 300;
}

.homePage.dark {
  background-color: #202c37;
}

.homePage.dark .container .search-Filter .search {
  background: #2b3945;
}

.homePage.dark .container .search-Filter .search i {
  color: white;
}

.homePage.dark .container .search-Filter .search .searchInput {
  background: #2b3945;
}

.homePage.dark .container .search-Filter .search .searchInput::-webkit-input-placeholder {
  color: white;
}

.homePage.dark .container .search-Filter .search .searchInput:-ms-input-placeholder {
  color: white;
}

.homePage.dark .container .search-Filter .search .searchInput::-ms-input-placeholder {
  color: white;
}

.homePage.dark .container .search-Filter .search .searchInput::placeholder {
  color: white;
}

.homePage.dark .container .search-Filter .filter {
  background: #2b3945;
  color: white;
}

.homePage.dark .container .search-Filter .filter .filterByCountries .filterRegion {
  color: white;
}

.homePage.dark .container .search-Filter .filter .filterRegionItems.show {
  background: #2b3945;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.homePage.dark .container .search-Filter .filter .filterRegionItems.show li {
  color: white;
}

.homePage.dark .container .search-Filter .filter .filterRegionItems.show li a {
  text-decoration: none;
  color: white;
}

.homePage.dark .container .countries .country {
  background: #2b3945;
  color: white;
}
/*# sourceMappingURL=style.css.map */