@import url('https://fonts.googleapis.com/css2?family=Nunit+Sans:wght@300;600;800&display=swap');

//Font Weight

$font-weight-300:300;
$font-weight-600:600;
$font-weight-800:800;

//Font Size

$HomePage-font-size: 14px;
$DetailPage-font-size: 16px;

// Color

$Dark-Mode-Elements: hsl(209, 23%, 22%);
$Dark-Mode-Background: hsl(207, 26%, 17%);
$Light-Mode-Text: hsl(200, 15%, 8%);
$Light-Mode-Input: hsl(0, 0%, 52%);
$Light-Mode-Background: hsl(0, 0%, 98%);
$Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);

$Box-Shadow: 0px 0px 8px 2px rgba($color: #000000, $alpha: 0.2);

//Reset

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: $HomePage-font-size;
}

.container {
  display: flex;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 4rem;
  overflow: hidden;
}

.navbar {
  background-color: $Dark-Mode-Text-Light-Mode-Elements;

  .container {
    justify-content: space-between;
    padding: 1rem 4rem;

    .title {
      h1 {
        font-weight: $font-weight-600;
        color: $Light-Mode-Text;
      }
    }

    .themeSwitcher {
      display: flex;
      cursor: pointer;

      p {
        margin-left: 0.5rem;
        font-weight: $font-weight-300;
        color: $Light-Mode-Text;
      }
    }
  }
}

.navbar.dark {
  background-color: $Dark-Mode-Elements;

  .container {
    .title {
      h1 {
        color: $Dark-Mode-Text-Light-Mode-Elements;
      }
    }

    .themeSwitcher {
      i::before {
        color: white;
      }

      p {
        color: $Dark-Mode-Text-Light-Mode-Elements;
      }
    }
  }
}

.homePage {
  background-color: $Light-Mode-Background;

  .container {
    flex-wrap: wrap;

    .search-Filter {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 100%;
      margin: 3rem 0;

      .search {
        background: white;
        border-radius: 5px;
        width: 35%;
        box-shadow: $Box-Shadow;

        i {
          padding-left: 1.5rem;
          color: $Light-Mode-Input;
        }

        .searchInput {
          border: none;
          padding: 1rem;
          width: 80%;
        }
      }

      .filter {
        background: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-right: 1.5rem;
        position: relative;
        box-shadow: $Box-Shadow;

        .filterByCountries {
          display: flex;
          justify-content: center;
          align-items: center;

          .filterRegion {
            padding: 1rem 2.5rem 1rem 1.5rem;
            color: $Light-Mode-Text;
          }
        }

        .filterRegionItems {
          display: none;
        }

        .filterRegionItems.show {
          display: block;
          list-style: none;
          position: absolute;
          top: 115%;
          right: 0;
          width: 100%;
          background: white;
          border-radius: 5px;
          padding: 1rem 1.5rem 0 1.5rem;
          box-shadow: $Box-Shadow;

          li {
            margin-bottom: 0.8rem;
            cursor: pointer;
            color: $Light-Mode-Text;
          }

          &:last-child {
            margin-bottom: 0.7rem;
          }
        }
      }
    }

    .countries {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      .country {
        background: $Dark-Mode-Text-Light-Mode-Elements;
        width: 22%;
        margin-bottom: 5rem;
        border-radius: 5px;
        box-shadow: $Box-Shadow;

        .countryImage {

          img {
            border-radius: 5px;
            width: 100%;
          }
        }

        .countryInfos {
          margin: 1.2rem 1.2rem 2rem 1.2rem;

          h4 {
            font-weight: $font-weight-800;
            margin-bottom: 0.5rem;
          }

          h5 {
            margin-bottom: 0.5rem;
            font-weight: $font-weight-600;

            span {
              font-weight: $font-weight-300;
            }
          }
        }
      }
    }
  }
}

.homePage.dark {
  background-color: $Dark-Mode-Background;

  .container {

    .search-Filter {

      .search {
        background: $Dark-Mode-Elements;

        i {
          color: $Dark-Mode-Text-Light-Mode-Elements;
        }

        .searchInput {
          background: $Dark-Mode-Elements;

          &::placeholder {
            color: $Dark-Mode-Text-Light-Mode-Elements;
          }
        }
      }

      .filter {
        background: $Dark-Mode-Elements;
        color: $Dark-Mode-Text-Light-Mode-Elements;

        .filterByCountries {

          .filterRegion {
            color: $Dark-Mode-Text-Light-Mode-Elements;
          }
        }

        .filterRegionItems.show {
          background: $Dark-Mode-Elements;
          box-shadow: $Box-Shadow;

          li {
            color: $Dark-Mode-Text-Light-Mode-Elements;
          }
        }
      }
    }

    .countries {

      .country {
        background: $Dark-Mode-Elements;
        color: $Dark-Mode-Text-Light-Mode-Elements;
      }
    }
  }
}